<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Beers</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>

<!--   HEADER SECTION -->

<section>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Challenge beers</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" class="nav-link text-dark">Home</a></li>
                <li class="nav-item"><a href="/mugs" class="nav-link text-dark">Mugs</a></li>
                <li class="nav-item"><a href="/cart" class="nav-link text-dark">Cart</a></li>
            </ul>
        </header>
    </div>
</section>

<!-- PHOTOS SECTION -->

<section class="white-section" id="photo">

    <h2 class="section-heading">All beers available in our e-shop</h2>
    <p>You deserve one.</p>

    <div class="row">

        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/beer/1.jpg}" class="card-img-top" alt="Kufel na piwo w kształcie zwykłym">
                <div class="card-body">
                    <h5 class="card-title">49,99 PLN</h5>
                    <p class="card-text">Polish beer. 18%, produced in Łódź.</p>
                    <form action="/cart/addToCart">
                        <input type="hidden" name="code" value=1>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/beer/2.jpg}" class="card-img-top" alt="Kufel na piwo Pilsner">
                <div class="card-body">
                    <h5 class="card-title">40 PLN</h5>
                    <p class="card-text">Pilsner Urquell. Taste of the Czech Republic.</p>
                    <form action="/cart/addToCart">
                        <input type="hidden" name="code" value=2>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/beer/3.jpg}" class="card-img-top" alt="Kufel na piwo dla kibica piłki nożnej">
                <div class="card-body">
                    <h5 class="card-title">55 PLN</h5>
                    <p class="card-text">Mundial beer.</p>
                    <form action="/cart/addToCart">
                        <input type="hidden" name="code" value=3>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/beer/4.jpg}" class="card-img-top" alt="Kufel na piwo premium">
                <div class="card-body">
                    <h5 class="card-title">120 PLN</h5>
                    <p class="card-text">This is a secret beer.</p>
                    <form action="/cart/addToCart">
                        <input type="hidden" name="code" value=4>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/beer/5.jpg}" class="card-img-top" alt="Kufel na piwo śląski">
                <div class="card-body">
                    <h5 class="card-title">49,99 PLN</h5>
                    <p class="card-text">No. 1 in the ranking of beers good for evening.</p>
                    <form action="/cart/addToCart">
                        <input type="hidden" name="code" value=5>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="photo-column col-lg-4 col-md-6">
            <div class="card">
                <img th:src="@{/images/beer/6.jpg}" class="card-img-top" alt="Kufel na piwo na stoliku w parku">
                <div class="card-body">
                    <h5 class="card-title">39,99 PLN</h5>
                    <p class="card-text">Park beer. Tested by students.</p>
                    <form action="/cart/addToCart">
                        <input type="hidden" name="code" value=6>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="submit">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- Footer -->

<section>
    <footer class="white-section" id="footer">
        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f"></i>
            <i class="social-icon fab fa-twitter"></i>
            <i class="social-icon fab fa-instagram"></i>
            <i class="social-icon fas fa-envelope"></i>
            <p> &copy; Copyright 2023 by Łukasz Pokrzywka</p>
        </div>
    </footer>
</section>

</body>
</html>